<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SummerPractice2023.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SummerPractice2023.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SummerPractice2023.Properties.Settings>
            <setting name="TopicsDefault" serializeAs="String">
                <value>Resources/Topics/light</value>
            </setting>
        </SummerPractice2023.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SummerPractice2023.Properties.Settings>
            <setting name="Topics" serializeAs="String">
                <value>Resources/Topics/dark</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>/Resources/Languages/lang.en</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
        </SummerPractice2023.Properties.Settings>
    </userSettings>
</configuration>